@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --black-color: #000;
    --white-color: #fff;
    --text-color: #212121;
    --border-color: rgba(230, 230, 230, 1);
    --border-color-bold: rgb(100, 100, 100);
    --box-shadow: 0 1px 3px #ccc;
    --item-bg-hover: rgba(33, 33, 33, 0.05);
    --facebook-bg-color: #4267b2;
    --facebook-bg-hover-color: #395fad;
    --google-bg-color: #4285f4;
    --google-bg-hover-color: #307bf9;

    /* Navbar */
    --navbar-menu-link-bg-hover: rgba(33, 33, 33, 0.1);

    /* Modal */
    --modal-login-btn-bg-color: #2d2d2d;
    --modal-login-btn-hover-bg-color: #3a3a3a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid-row > * {
    padding-left: 5px;
    padding-right: 5px;
}

.grid-column-1 {
    width: 100%;
}

.grid-column-2 {
    width: 50%
}

.grid-column-3 {
    width: 33.33333%;
}

/* Button */
.btn {
    color: var(--text-color);
    background-color: var(--white-color);
    text-decoration: none;
    border: none;
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

/* Modal */
.modal {
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 99999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal--align-items-center {
    align-items: center;
}

.modal--active {
    visibility: visible;
}

.modal--transition {
    transition: all .2s ease;
}

.modal-opacity--0 {
    opacity: 0;
}

.modal--active 
.modal-opacity--to-0-3 {
    opacity: 0.3;
}

.modal--active 
.modal-opacity--to-0-1 {
    opacity: 0.1;
}

.modal--active 
.modal-opacity--to-1 {
    opacity: 1;
}

.modal:not(.modal--active) 
.modal-animation--scale-1-to-1-1 {
    animation: modalScale_1_to_1-1 .15s ease forwards;
}

@keyframes modalScale_1_to_1-1 {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}

.modal--active 
.modal-animation--scale-1-1-to-1 {
    animation: modalScale_1-1_to_1 .15s ease;
}

@keyframes modalScale_1-1_to_1 {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-overlay {
    position: absolute;
    background-color: var(--black-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modal-cancel {
    background: no-repeat center / 24px url('../img/cancel.svg');
    background-color: var(--white-color);
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    border-radius: 32px;
    padding: 16px;
    z-index: 2;
}

.modal-container {
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* Class */
.font-weight--600 {
    font-weight: 600 !important;
}

.user-select--none {
    user-select: none !important;
}

.cursor--pointer {
    cursor: pointer !important;
}

.margin-top--30 {
    margin-top: 30px !important;
}

.margin-left--6 {
    margin-left: 6px;
}

.margin-right--6 {
    margin-right: 6px;
}

